.header {
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 58px;
  font-style: italic;
  font-weight: normal;
  line-height: 72px;
  color: #2f80ed;
}

.header__title {
  max-width: 709px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  padding-top: 183px;
  padding-left: 80px;
  margin: 0px;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  padding-top: 28px;
  padding-left: 80px;
}

.header__image {
  position: absolute;
  right: 0;
  top: 0;
  height: 568px;
  width: 646px;
  padding-top: 124px;
  padding-right: 5px;
}

.header__footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: flex-end;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  color: #838383;
  padding-left: 80px;
  padding-bottom: 40px;
  padding-right: 80px;
}

.header__paragraph {
  margin: 0px;
}

.header__address {
  margin: 0px;
}
